.nav-bar-menu-item {
    margin-right: 15px;
}

.nav-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-bar .active,
.nav-bar-menu-item:hover,
.nav-bar-logo:hover {
    color: crimson;
    cursor: pointer;
}

@media(max-width: 450px) {
    .nav-bar {
        justify-content: center;
    }
}