.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70px;
  padding-bottom: 40px;
  background-color: #fff;
}

.tasks {
  border-top: 1px solid #000;
  margin: 15px;
  padding-top: 10px;
}